body{
  font-family:Sans-serif;
  margin:0px;
}

.header{
  /*size and position*/
  height: 75px;
  line-height: 75px;
  padding-left: 15px;
  
  /*font*/
  font-size: 35px;
  
  /*colors*/
  border: solid 1px black;
  border-bottom: none;
  background-color: #333;
  color: white;
}

.navbar{
  /*size and position*/
  height: 30px;
  line-height:30px;

  margin-bottom:15px;
  
  /*font*/
  font-size: 15px;
  
  /*colors*/
  background-color: #444;
  border: solid 1px black;
  color: white;
}
.navbar ul{
  margin: 0px;
  padding:0px;
}
.navbar li{
  float: left;
  list-style-type: none;
}
.navbar a{
  text-align: center;
  display:block;
  text-decoration:none;
  color:white;
  width: 85px;
  height: 30px;
  border-left: solid 1px #444;
  border-right: solid 1px #444;
}
.navbar a:hover{
  background-color: #333;
  border-left: solid 1px black;
  border-right: solid 1px black;
}


.content{
  margin-left: 15px;
}

[type="button"]{
  background-color: #333;
  border: none;
  color:white;
  height: 30px;
}
.but_holder{
  margin-top:15px;
  width: 250px;
  overflow:hidden;
}
.but_holder input{
  float:right;
}

#response{
  color: DeepPink;
  width:250px;
  text-align:center;
  margin-top:15px;
  
}