<html>
  <body>
 
<h3>Events List</h3>
<table border="1">
<tr>
<td>Event Date</td>
<td>User Name</td>
<td>Event Description</td> 
<td>
</tr> 
{% for entries in events %}
<tr>
<td>{{ entries.date}} </td>
<td>{{ entries.username.username}}</td>
<td><pre>{{entries.event_description}}</pre></td>
<td><center><form action="/delete" method="post" style="padding: 0; margin: 0"">
      <div><button type="submit" name="event_id" value="{{forloop.counter0}}">Delete Event</button></div>
      
    </form></center></td> 
</tr> 
&nbsp;  
    {% endfor %}
</table> 


 <div style="white-space: nowrap"> <h4> Navigation  </h4>
  <form action="/static/add_event.html" method="post">
      <button name="subject" type="submit" value="fav_HTML" style="float:left;">Add more Events</button>
    </form>
     <form action="/static/index.html" method="post">
      <button name="log_out" type="submit" value="fav_HTML" style="float:left;">Log Out</button>
    </form>
</div>
  </body>
</html>